[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
torch = "*"
matplotlib = "*"
h5py = "*"
simulai-toolkit = "*"
deepxde = "*"
python-dotenv = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.8"
